@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body, ul, h3, h1, p {
    margin: 0;
}

body {
    font-family: "Lora", serif;  /* Standard font för hela body */
    background-color: rgb(242, 242, 242);
}

header {
    width: 100%;
    height: auto;
}

header nav {
    background-color: #413f3e;
    width: 100%;
    display: flex;
    justify-content: center;
}

header nav ul {
    width: 80%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    flex: 1;
}

header nav ul li a {
    text-decoration: none;
    height: 54px;
    display: block;
    background-color: #413f3e;
    color: #ffffff;
    padding: 0 10px;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    text-align: center;
    line-height: 54px;
}

/* -------------------------- */
header > div {
    background-color: #413f3e;
    width: 100%;
    display: flex;
}

#logo {
    font-family: "Cookie", cursive;  /* Specifik font för logotyp */
    height: 60px;
    width: 15%;
    background-color: #413f3e;
    color: white;
    text-align: center;
    line-height: 54px;
    font-size: 45px;
}

#barra-busqueda {
    height: 54px;
    width: 85%;
    background-color: #413f3e;
    display: flex;
    justify-content: center;
    align-items: center;
}

#barra-busqueda form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#boton-carrito {
    height: 54px;
    width: 5%;
    background-color: #ffffff;
    text-align: center;
    line-height: 54px;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
}

/* --------------------------- */
#barra-busqueda form input {
    background-color: #a8a8a8;
    padding: 2px;
    width: 50%;
    color: white;
    height: 20px;
    margin: 0 2px 0 5px;
    font-family: "Playfair Display", serif;
    font-size: 18px;
}

#barra-busqueda form input[type="submit"] {
    background-color: white;
    color: #413f3e;
    padding: 2px;
    width: 100px;
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
    font-family: "Playfair Display", serif;
    font-size: 20px;
}

/* --------------------------- */
main {
    height: 550px;
}

/* --------------------------- */
footer {
    background-color: #413f3e;
    font-family: "Cookie", cursive;  /* Font för footer */
    color: white;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
}

/* --------------------------- */
/* Stilar för varukorg */
.cantidad-control button {
    background-color: #f76c6c; /* Röd bakgrund för ta bort-knappen */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "Playfair Display", serif;
    font-size: 18px;
}

.eliminar-btn {
    background-color: #f76c6c;  /* Bakgrundsfärg för ta bort-knappen */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "Playfair Display", serif;
    font-size: 18px;
}

/* Specifika regler för input och knappar i varukorgen */
.cantidad-control input {
    background-color: #a8a8a8;
    width: 60px;
    height: 30px;
    text-align: center;
    color: white;
    font-size: 16px;
    border: none;
    font-family: "Playfair Display", serif;
}
