@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body, ul, h3, h1, p {
    margin: 0;
}

body {
    font-family: "Lora", serif;
    background-color: rgb(242, 242, 242);
}

header {
    /* border: 1px solid magenta; */
    width: 100%;
    height: auto;
}
header nav {
    background-color: #413f3e;  /* Color de fondo del nav */
    width: 100%;                 /* Ancho completo */
    display: flex;               /* Usar flexbox */
    justify-content: center;      /* Centrar contenido horizontalmente */
}

header nav ul {
    width: 80%;                  /* Ancho de la lista */
    list-style: none;            /* Eliminar puntos de la lista */
    padding: 0;                  /* Eliminar padding */
    margin: 0;                   /* Eliminar margen */
    display: flex;               /* Usar flexbox */
    justify-content: space-between; /* Espacio entre elementos */
}

header nav ul li {
    flex: 1;                     /* Cada li ocupará el mismo espacio */
}

header nav ul li a {
    text-decoration: none;        /* Sin subrayado en los enlaces */
    height: 54px;                /* Altura del enlace */
    display: block;              /* Mostrar como bloque */
    background-color: #413f3e;   /* Color de fondo del enlace */
    color: #ffffff;              /* Color del texto */
    padding: 0 10px;             /* Relleno horizontal */
    font-family: "Playfair Display", serif; /* Fuente */
    font-size: 20px;             /* Tamaño de fuente */
    text-align: center;          /* Centrar texto */
    line-height: 54px;           /* Centrar verticalmente el texto */
}

/* -------------------------- */
header > div {
    background-color: #413f3e;
    width: 100%;
    /* height: 180px; */

    display: flex;
    /* justify-content: space-around;
    align-items: center; */
}

#logo {
    font-family: "Cookie", cursive; 
    height: 60px;
    width: 15%;
    background-color: #413f3e;
    color: white;
    text-align: center;
    line-height: 54px;
    font-size: 45px;
}

#barra-busqueda {
    height: 54px;
    width: 85%;
    background-color: #413f3e;
    /* text-align: center;
    line-height: 54px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#barra-busqueda form {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid cyan; */
    width: 100%;
}

#boton-carrito {
    height: 54px;
    width: 5%;
    background-color: #ffffff;
    text-align: center;
    line-height: 54px;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    
}

#barra-busqueda form input {
    background-color: #a8a8a8;
    padding: 2px;
    width: 50%;
    color: white;
    height: 20px;
    margin: 0 2px 0 5px;    
    font-family: "Playfair Display", serif;
    font-size: 18px;
}

#barra-busqueda form input[type="submit"] {
    background-color: white;
    color: #413f3e;
    padding: 2px;
    width: 100px;
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
    font-family: "Playfair Display", serif;
    font-size: 20px;
}

/* --------------------------- */
main {
    height: 550px;
}

/* --------------------------- */
footer {
    background-color: #413f3e; /* Color de fondo del footer */
    font-family: "Cookie"; 
    color: white;
    height: 100px;             /* Altura del footer */
    text-align: center;       
    line-height: 100px;        /* Centrar texto verticalmente */
    font-size: 30px;
}

