@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

main {
    height: auto;
    background-color: rgb(242, 242, 242);
    text-align: center;
    padding: 25px;
}

section img {
    width: 300px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

main .section-cards-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section {
    border: 0.5px solid black; /* Corregido de balck a black */
    width: 350px;
    padding: 15px;
    background-color: #413f3e;
    color: rgb(255, 255, 255);
    margin: 25px;
    border-radius: 5px; /* Ajustado a 5px para mayor consistencia */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

/* Efecto al pasar el mouse */
section:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

section h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
}

.section-cards-header h1 {
    color: #413f3e;
    margin-bottom: 40px;
    font-family: "Playfair Display", serif;
    font-size: 50px;
}

.section-cards-body section p {
    margin-bottom: 10px;
}

button {
    margin-top: 20px;  
    padding: 10px 20px;         
    height: 40px;                /* Altura del botón */
    background-color: white;     /* Color de fondo */
    color: #413f3e;              /* Color del texto */
    font-family: "Playfair Display", serif; /* Fuente */
    font-size: 20px;
    border-radius: 5px;

}
